.sign_up_container {
  display: flex;
  border: 1px solid;
  width: 100%;
  height: 100%;
}

.sign_up_text_container {
  border: 1px solid blue;
  flex: 50%;
}

.sign_up_inputs_container {
  border: 1px solid red;
  flex: 50%;
}

.sign_up_inputs_reminder {
  text-align: center;
  background-color: var(--dark-blue);
  border: 1px solid var(--blue);
}

.sign_up_inputs_reminder span {
  font-weight: 600;
}
.sign_up_inputs_fields {
}

@media (max-width: 400px) {
  .sign_up_container {
    flex-direction: column;
  }
  .sign_up_text_container {
    border: 1px solid blue;
    flex: 100%;
  }
  .sign_up_inputs_container {
    border: 1px solid red;
    flex: 100%;
  }
}
