.sign_up_container {
  display: flex;
  border: 1px solid;
  width: 100%;
  height: 100%;
}

.sign_up_text_container {
  border: 1px solid blue;
  flex: 50%;
}

.sign_up_inputs_container {
  border: 1px solid red;
  flex: 50%;
}
.sign-up-container {
  display: flex;
  border: 1px solid blue;
}
